header {
    background-color: #232323;
}

body {
    background-color: #232323;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

.нав {
    background-color: #efefef;
    border-radius: 30px;
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 100px;
    font-family: 'Raleway', sans-serif;
    justify-content: center;
}

.мероприятие, .галерея, .контакты, .как {
    text-align: center;
    padding: 10px;
    border-radius: 45px; 
    transition: background-color 0.3s ease;
}

.мероприятие:hover, .галерея:hover, .контакты:hover, .как:hover {
    background-color: #e0e0e0; 
}

.main-container {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

.frst {
    display: flex;
    gap: 20px; 
    height: 40%; 
    padding: 20px; 
}

.left {
    display: flex;
    flex-direction: column; 
    flex: 0.8; 
    gap: 20px; 
}

.right {
    flex: 1.2; 
}

.box {
    background-color: #f0f0f0; 
    border-radius: 25px; 
    padding: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.box1 {
    background-color: #D6FF35;
    font-family: 'NeutralFace', sans-serif;
    font-weight: bolder;
    font-size: 63px;
}

.box1, .box2 {
    flex: 1; 
}

.box2 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    text-align: left;
    line-height: 1;
    font-weight: 500;
}

.box1:hover {
    transform: scale(1.02); 
    transition: transform 0.3s ease; 
}

.box2:hover {
    transform: scale(1.02); 
    transition: transform 0.3s ease; 
}

.box3 {
    height: 30px; 
    background-color: #D6FF35;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 20px;
}

.text {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.arrow {
    width: 40px; 
    height: 30px; 
    margin-left: 10px; 
}

.box3:hover {
    transform: scale(1.02); 
    transition: transform 0.3s ease; 
}

.box4 {
    position: relative;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    border-radius: 25px;
    padding: 0;
}

.box-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    overflow: hidden;
    border: 10px;
    border-color: #232323;
}

.overlay {
    position: absolute;
    margin: 0;
    top: 20;
    right: 0;
    width: 80px; 
    height: 80px;
    padding: 20px;
    background-color: #232323;
    border-bottom-left-radius: 35px;
}


.scnd {
    display: flex;
    gap: 20px;
    width: 100%;
}

.cont {
    flex: 1;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Распределяем текст сверху и снизу */
    padding: 20px;
    padding-top: 0px;
    min-height: 450px; /* Фиксированная высота блоков */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}


.main {
    font-family: 'NeutralFace', sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: #232323;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
}

.sub {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #232323;
    line-height: 1.4;
    position: relative;
    z-index: 2;
}

.main1 {
    font-family: 'NeutralFace', sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: #efefef;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
}

.sub1 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #efefef;
    line-height: 1.4;
    position: relative;
    z-index: 2;
}

/* Эффект при наведении */
.cont:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}